* {
  margin:0;
  padding:0;
}
.navbar {
    display:flex;
}
.background{
  display:flex;
  background: steelblue;
  /* background: url("./Image/backgroundImg.png"); */
  background-size: cover;
  background-blend-mode: darken;
}
.nav-list{
    width:50%;
    /* background-color:coral; */
    display: flex;
    align-items: center;
}
.nav-list li{
  list-style: none;
  padding: 25px 27px;
}
.nav-list li a{
  text-decoration: none;
  color:#ffffff;
}
.nav-list li a:hover{
  text-decoration: none;
  color:grey;
}
.rightNav{
  width:50%;
  /* background-color: blueviolet; */
  text-align: right;
}
.logo{
  /* width:30%; */
  display: flex;
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* align-items: center; */
}
.logo img {
  width: 15%;
  border: 3px solid white;
  border-radius: 50px;
  margin-left: 38px;
}
#search{
  padding:5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 12px;
}
