* {
  margin:0;
  padding:0;
}
.navbar {
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor:pointer;
}
.background{
  display:flex;
  background: steelblue;
  /* background: url("./Image/backgroundImg.png"); */
  background-size: cover;
  background-blend-mode: darken;
}
.nav-list{
    width:50%;
    /* background-color:coral; */
    display: flex;
    align-items: center;
}
.nav-list li{
  list-style: none;
  padding: 25px 27px;
}
.nav-list li a{
  text-decoration: none;
  color:#ffffff;
}
.nav-list li a:hover{
  text-decoration: none;
  color:grey;
}
.rightNav{
  width:50%;
  padding: 0px 23px;
  /* background-color: blueviolet; */
  text-align: right;
}
.logo{
  /* width:30%; */
  display: flex;
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* align-items: center; */
}
.logo img {
  width: 15%;
  border: 3px solid white;
  border-radius: 50px;
  margin-left: 38px;
}
#search{
  padding:5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 12px;
}
.box-main{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 50%;
  margin: auto;
  /* height:80%; */
}
.firstsection{
  height: 100vh;
}
.firstHalf{
  width:75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.secondHalf{
  width:60%;
}
.secondHalf img{
    border: 1px solid grey;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.text-big{
    font-size: 41px;
}
.text-small{
  font-size: 18px;
}
.btn{
  padding: 2px 20px;
  margin: 7px 4px;
  border: 2px solid white;
  border-radius:8px;
  background: none;
  color:#ffffff;
  cursor: pointer;
}
.btn-sm{
  padding: 5px 10px;
}
.buttons{
  display: flex;
}