* {
  margin:0;
  padding:0;
}
.section{
  scroll-behavior: smooth;
}
.navbar {
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor:pointer;
    /* height:500px; */
}
.background{
  display:flex;
  background: steelblue;
  /* background: url("./Image/backgroundImg.png"); */
  background-size: cover;
  background-blend-mode: darken;
}
.nav-list{
    width:70%;
    /* background-color:coral; */
    display: flex;
    align-items: center;
}
.nav-list li{
  list-style: none;
  padding: 25px 27px;
}
.nav-list li a{
  text-decoration: none;
  color:#ffffff;
  font-size: 16px;
  font-family: fantasy;
}
.nav-list li a:hover{
  text-decoration: none;
  color:grey;
}
.rightNav{
  width:30%;
  padding: 0px 23px;
  /* background-color: blueviolet; */
  text-align: right;
}
.logo{
  /* width:30%; */
  display: flex;
  /* justify-content: space-around; */
  /* justify-content: center; */
  /* align-items: center; */
}
.logo img {
  width: 15%;
  border: 3px solid white;
  border-radius: 50px;
  margin-left: 38px;
}
#search{
  padding:5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 12px;
}
.box-main{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 50%;
  margin: auto;
  /* height:80%; */
}
.firstsection{
  height: 100vh;
}
.firstHalf{
  width:75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.secondHalf{
  width:60%;
}
.secondHalf img{
    border: 1px solid grey;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.text-big{
    font-size: 41px;
    padding: 10px 0px;
}
.text-small{
  font-size: 18px;
  font-family: fantasy;
}
.btn{
  padding: 2px 20px;
  margin: 7px 4px;
  border: 2px solid white;
  border-radius:8px;
  background: none;
  color:#ffffff;
  cursor: pointer;
  font-size: 18px;
}
.btn-sm{
  padding: 5px 10px;
  font-size: 14px;
}
.btn-dark{
  color:black;
  border:2px solid grey;
  margin-left: 38%;
}
.buttons{
  display: flex;
}
.section{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  max-width: 80%;
  margin: auto;
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-left{
  flex-direction: row-reverse;
}
.paras{
  padding: 4px 20px;
}
.thumbnail{
  width:50%;
  height:50%;
}
.thumbnail img{
  border: 2px solid grey;
  border-radius: 26%;
  height: 160px;
  width: 200px;
}
.contact{
  background-color: #f6f5f4;
  padding: 20px 0px;
  /* height:30vh; */
}
.text-align{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form{
  max-width:344px;
  margin: auto;
  margin-top: 10px;
}
.form-input{
  margin: 14px 0px;
  width: 100%;
  font-size: 18px;
  border: 2px solid grey;
  border-radius: 6px;
  padding:4px 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-footer{
  text-align: center;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height:40px;
}
.burger{
  position: absolute;
  cursor: pointer;
  display: none;
  right: 5%;
  top: 8%;
}
.line{
  width: 33px;
  background-color: #ffffff;
  height:4px;
  margin: 3px 3px;
}
